.shop-wrap {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.product-wrap {
  position: relative;
}

.product-wrap img {
  position: relative;
  width: 100%;
}

.product-item-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px 0;
}

.product-item-wrap .col-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

button.add {
  position: relative;
  padding: 1rem 1.4rem;
  background-color: var(--black);
  color: var(--white);
  border: 0;
  font-family: var(--a-ff);
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  border-radius: 3px;
}
